@import '../../App.scss';

header {
    padding: $default-size;

    background-color: $primary-color;
    color: $white-color;
    display: flex;
    flex-flow: column;

    box-shadow: $default-shadow;

    h1 {
        margin: $default-size;
        font-size: $default-size * 4;
    }

    nav {
        display: flex;

        a {
            padding: $default-size;
            background-color: $white-color;
            text-decoration: none;
            color: $accent-color;

            &:hover {
                background-color: $accent-color;
                color: $primary-color;
            }
        }
    }
}