@import '../../App.scss';

header {
    padding: $default-size;
    border-radius: $default-size;

    display: flex;
    flex-flow: column;

    h1 {
        align-self: flex-start;
        background: $default-gradient;
        background-clip: text;
        color: transparent;
        margin: 0;
        font-size: $default-size * 4;
    }

    nav {
        display: flex;

        a {
            padding: $default-size;
            background-color: $white-color;
            text-decoration: none;
            color: $light-color;

            &:hover {
                background-color: $light-color;
                color: $primary-color;
            }
        }
    }
}